@import '~nativescript-theme-core/css/core.light.css';

button, label{
    text-align: center;    
}

gridlayout{
    background-color: orange;
}

label {
    font-size: 36;
    color: rgb(255, 255, 255);
}

label.result {
    font-size: 42;
    text-align: center;
    color: black;
}

button{
    font-size: 36;
    width: 100%;
}

.controls{
    background-color: rgb(0, 255, 242);
    color:black;
}

.numbers{
    background-color: rgba(55, 19, 216, 0.911);
    color: white;
}